include ../../pug/mixins/mixins.pug
.portfolio-2
	.portfolio-2__container.container
		.portfolio-2__row.row.small-up-1.medium-up-2
			.portfolio-2__column.column
				a.portfolio-2__item(href="#" title="Association of American Medical Colleges" data-aos="fade-up")
					span.portfolio-2__item__image
						img(src="blocks/portfolio-2/images/projects1.jpg" srcset="blocks/portfolio-2/images/projects1.jpg 1x, blocks/portfolio-2/images/projects1-2x.png 2x" alt="Association of American Medical Colleges")
					span.portfolio-2__item__content
						span.portfolio-2__item__tag.tag-2
							| EXTERIOR DESIGN
						span.portfolio-2__item__title.h2
							| Association of American Medical Colleges
						span.portfolio-2__item__address
							+svg('location')
							| Washington, United States
			.portfolio-2__column.column
				a.portfolio-2__item(href="#" title="MetLIfe Global Technology Campus" data-aos="fade-up")
					span.portfolio-2__item__image
						img(src="blocks/portfolio-2/images/projects2.jpg" srcset="blocks/portfolio-2/images/projects2.jpg 1x, blocks/portfolio-2/images/projects2-2x.png 2x" alt="MetLIfe Global Technology Campus")
					span.portfolio-2__item__content
						span.portfolio-2__item__tag.tag-2
							| INTERIOR DESIGN
						span.portfolio-2__item__title.h2
							| MetLIfe Global Technology Campus
						span.portfolio-2__item__address
							+svg('location')
							| Cary, United States
			.portfolio-2__column.column
				a.portfolio-2__item(href="#" title="La Maison de la Radio Grand Auditorium" data-aos="fade-up")
					span.portfolio-2__item__image
						img(src="blocks/portfolio-2/images/projects3.jpg" srcset="blocks/portfolio-2/images/projects3.jpg 1x, blocks/portfolio-2/images/projects3-2x.png 2x" alt="La Maison de la Radio Grand Auditorium")
					span.portfolio-2__item__content
						span.portfolio-2__item__tag.tag-2
							| FURNITURE
						span.portfolio-2__item__title.h2
							| La Maison de la Radio Grand Auditorium
						span.portfolio-2__item__address
							+svg('location')
							| Paris, France
			.portfolio-2__column.column
				a.portfolio-2__item(href="#" title="Kingman Island Environmental Education Center" data-aos="fade-up")
					span.portfolio-2__item__image
						img(src="blocks/portfolio-2/images/projects4.jpg" alt="Kingman Island Environmental Education Center")
					span.portfolio-2__item__content
						span.portfolio-2__item__tag.tag-2
							| ARCHITECTURE ICONS
						span.portfolio-2__item__title.h2
							| Kingman Island Environmental Education Center
						span.portfolio-2__item__address
							+svg('location')
							| Paris, France
		.button-wrap(data-aos="fade-up")
			a.portfolio-2__button.button(href="#")
				+svg('grid')
				| All projects
