include ../../pug/mixins/mixins.pug
.footer-7
	.footer-7__container.container
		.footer-7__top__row.row
			.footer-7__top__column.column.small-4
				h3.footer-7__title
					| Honolulu
				ul.footer-7__list
					li.footer-7__list__item
						| (808) 123-4567
					li.footer-7__list__item
						| demo@angelhackhnl.com
					li.footer-7__list__item
						| 1050 Queen St, Honolulu, Hawaii

			.footer-7__top__column.column.small-4
				h3.footer-7__title
					a(href="#")
						| Hire Us
				h3.footer-7__title
					a(href="#")
						| Career opportunities
		.footer-7__bottom
			.footer-7__copyright
				| © 2016 Roots All rights reserved
			.footer-7__social
				a.footer-7__social__link(href="#" target="_blank")
					+svg('fb').footer-7__social__link__icon
				a.footer-7__social__link(href="#" target="_blank")
					+svg('twitter').footer-7__social__link__icon
				a.footer-7__social__link(href="#" target="_blank")
					+svg('instagram').footer-7__social__link__icon
